* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

main {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-color: #111111;
    
 }

header {
    width: 100vw;
    background-color: #111111;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    padding: 24px;

    

}

.title-search-box > a {
    color: white;
    text-decoration: none;
    font-size: 50px;
    font-weight: 600;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: -430px;
    
}

.input-search-box {
    position: relative;
    right: 285px;
}

.input-search-box > input {
    background-color: transparent;
    color: white;
    padding: 12px;
    width: 300px;
    align-items: center;
    border: 1px solid rgb(0, 247, 255);
    
    

}

.input-search-box > input::placeholder {
    color: white;
    font-size: 15px;
    
}

.img-lupa {
    position: relative;
    height: 30px;
    top: 10px;
    right: 50px;
    cursor: pointer;
    
}

.menu {
    display: flex;
    justify-content: space-between;
    height: 100px;
    width: 300px;
}

.menu > a {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 25px;
    padding: 60px;
    left: -200px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    

}

.menu > a:hover {
    color: rgb(0, 247, 255);
    text-decoration: underline;
    transition-duration: 0.9s;
    border-radius: 50px;    
}

.btn-header-acesse {
    position: relative;
    left: 400px;
    padding: 20px;
    width: 200px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    border-radius: 50px 0px 0px 50px;
    background-image:linear-gradient(to right, #1DA981,  #111111);
    color: white;
    text-indent: -100px;
}

.btn-header-acesse:hover {
    position: relative;
    left: 400px;
    padding: 20px;
    width: 200px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    border-radius: 0px 50px 50px 0px;
    background-image:linear-gradient(to right, #111111, #1DA981);
    text-indent: 100px;
    transition-duration: 0.7s;
    
}

.page-menu {
    height: 300px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #093366;
}

.page-menu > a {
    color: #90c2ff;
    text-decoration: none;
    margin-left: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 14px;

}

.page-menu > a:hover {
    color: white;
}


.cards-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 1500px;
    margin: 50px;
  }
  
  .card {
    width: 300px;
    height: 200px;
    margin: 30px;
    background-color: #f1f1f1;
    border-radius: 10px;
    cursor: pointer;

  }

  .card:hover {
    position: relative;
    bottom: 5px;
    box-shadow: 3px 3px 5px #1b1c1caf;
  }

 div#primeiro-card {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, rgba(0, 195, 255, 0.709), #111A1D);
    
 }

div#primeiro-card > p {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    color: rgb(211, 211, 211);
}

div#segundo-card {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #141920;
}

div#segundo-card > p {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    color: rgb(211, 211, 211);
}


